* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
  }

body {  
    font-family: Montserrat, sans-serif;
    background-color: #f9edc2;
    color: #5d3277;
    display: flex;
    height: 100vh;
    background-size: 60px 60px;
    background-image:
    linear-gradient(to right, #f8f9f4 3px, transparent 1px),
    linear-gradient(to bottom, #f8f9f4 3px, transparent 1px);
    background-attachment: fixed;
}

.header {
    position: fixed;
    top: 0;
    padding: 10px 16px;
    background: #5d3277;
    color: #f8f9f4;
    height: 100vh;
  }

.curved-edge-front {
    position: fixed;
    bottom: 0%;
    left:0%;
    --c: 30%; /* control the curvature (works with percentage) */
    z-index: 2;
    height: 30%;
    width: 50%;
    /* you can also update the 60%  */
    mask: radial-gradient(60% var(--c) at top,#0000 calc(100% - 2px),#000);
    background: #a16db7;
  }

.rounded-edge-front {
    position: fixed;
    bottom: 0%;
    right: 0%;
    height: 30%;
    width: 50%;
    aspect-ratio: 3/2;
    z-index: 2;
    /* update the 85% to control the curvature
       you can also update the 50% to control the position
    */
    clip-path: ellipse(90% 100% at 50% 100%);
    background: #a16db7;
  }

  .curved-edge-back {
    position: fixed;
    bottom: 0%;
    right:0%;
    --c: 40%; /* control the curvature (works with percentage) */
    z-index: 1;
    height: 40%;
    width: 50%;
    /* you can also update the 60%  */
    mask: radial-gradient(60% var(--c) at top,#0000 calc(100% - 2px),#000);
    background: #ccb4c5;
  }

.rounded-edge-back {
    position: fixed;
    bottom: 0%;
    left: 0%;
    height: 38.5%;
    width: 50%;
    aspect-ratio: 3/2;
    z-index: 1;
    /* update the 85% to control the curvature
       you can also update the 50% to control the position
    */
    clip-path: ellipse(85% 100% at 50% 100%);
    background: #ccb4c5;
  }

.sparkle {
    position:relative;
    height: 300px;
    width: 250px;
    background: #a16db7;
    z-index: 4;
    mask: radial-gradient(#0000 71%, #000 72%) 10000% 10000%/99.5% 99.5%;
  
    /* if you will use a different unit than px consider round()
     height: round(__,1px);
     width: round(__,1px);
    */
  }

.container {
    margin: 0 auto;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    z-index: 3;
    row-gap: 5vh;
}

.container > div {
    margin: auto;
    position: relative;
    background-color: #f8f9f4;
    padding: 1em 2.5ch;
    border-radius: 15px;
    box-shadow: 10px 10px 0px #5d3277;
    width: 50%;
}

h1 {
    text-align: center;
    margin-bottom: 9px;
}

h3 {
    margin-bottom: 12px;
    font-weight: normal;
}

p {
  margin-bottom: 0.5em;
  font-weight: normal;
}

form {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

input {
    width: 85%;
    padding: 10px;
    border: 1px solid #5d3277;
    border-radius: 5px;
}

button {
    margin-left: 2ch;
    padding: 10px;
    background-color: #5d3277;
    color: #f8f9f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a16db7;
}

ul {
    margin-top: 20px;
    list-style-type: none;
}

a:link {
    color: #ccb4c5;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #ccb4c5;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #f9edc2;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #f8f9f4;
    background-color: transparent;
    text-decoration: underline;
  }